<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel panel-body">
      <div class="form-group" [ngClass]="{'has-error': employeeForm.get('fullName').errors
        &&(employeeForm.get('fullName').dirty  || employeeForm.get('fullName').touched)}">

        <label class="col-sm-2 control-label" for="fullName">Full name</label>
        <div class="col-sm-8">
          <input id="fullName" type="text" formControlName="fullName" class="form-control">
          <span class="help-block">
            <span *ngIf="employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty">
              Full Name Required
            </span>
            <span *ngIf="employeeForm.get('fullName').errors || employeeForm.get('fullName')">
                Min length is 2 and Max is 15
              </span>
          </span>
        </div>
      </div>

      <div class="form-group">

        <label class="col-sm-2 control-label" for="email">Email</label>
        <div class="col-sm-8">
          <input id="email" type="text" formControlName="email" class="form-control">
        </div>
      </div>
      <div formGroupName="skills">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="skillName">Skill</label>

          <div class="col-sm-4">
            <input type="text" id="skillName" formControlName="skillName" placeholder="Name">
          </div>
          <div class="col-sm-4">
            <input type="text" id="experience" formControlName="experience" placeholder="Experience in Years">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="Proficiency">Proficiency</label>
          <div class="col-md-8">
            <label class="radio-inline">
              <input type="radio" id="profeciency" value="beginner" formControlName="profeciency">Beginner
            </label>

            <label class="radio-inline">
              <input type="radio" id="profeciency" value="intermediate" formControlName="profeciency">Intermediate
            </label>

            <label class="radio-inline">
              <input type="radio" id="profeciency" value="expert" formControlName="profeciency">Expert
            </label>

          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <div class="btn btn-toolbar">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-primary" type="button" (click)=loadData()>LoadData</button>
        <button class="btn btn-primary" type="button" (click)=resetData()>Reset</button>
      </div>
    </div>

  </div>


</form>
<table border="1">
  <tr>
    <th style="padding :10px">FormGroup</th>
    <th style="padding :10px">FormControl</th>
  </tr>
  <tr>
    <td style="padding :10px">
      touched : {{employeeForm.touched}}
      <br />dirty : {{employeeForm.dirty}}
      <br />valid : {{employeeForm.valid}}
      <br /> values : {{employeeForm.value | json}}
    </td>

    <td style="padding : 10px">
      touched : {{employeeForm.get('fullName').touched}}
      <br /> dirty : {{employeeForm.get('fullName').dirty}}
      <br /> valid : {{employeeForm.get('fullName').valid}}
      <br /> fullName : {{employeeForm.get('fullName').value}}
    </td>

  </tr>
</table>